<article class="experience">
        <h2>Formación</h2>
         <p class="enterprise">
                <li class="activity">Mantenimiento preventivo y correctivo de equipos de cómputo.</li>
                <li class="activity">Manejo de sistemas operativos Windows (xp,7,8,8.1,10,11) Windows server (2008,2012,2016,2022), MacOS, distribuciones de Linux (Ubuntu, CentOS, Debian).</li>
                <li class="activity">Instalación y configuración de CCTV análoga e IP (básica y avanzada).</li>
                <li class="activity">Instalación y configuración de comunicaciones, las redes, protocolos, tecnologías de conmutación LAN y WAN, enrutamiento de redes convergentes, así como todos los aspectos relacionados con la seguridad y resolución de problemas.</li>
                <li class="activity">Diseño y acondicionamiento de centro de datos.</li>
                <li class="activity">Programación web implementando lenguajes y tecnologías web como: HTML, CSS, SASS, Workflows, JavaScript, TypeScript, Jquery, ExpressJS, Fetch, PHP, POO - MVC, MySQL - SQL y API's.</li>
                <li class="activity">Desarrollar aplicaciones web con el MEAN Stack.</li>
                <li class="activity">Desarrollar servicios y APIs RESTful con NodeJS, Express y MongoDB.</li>
                <li class="activity">Desarrollar aplicaciones web SPA con Angular.</li>
                <li class="activity">Crear aplicaciones CRUD con PHP y MySQL.</li>
                <li class="activity">Conocimientos en sistemas de Telefonía IP, comunicaciones unificadas, sistemas de movilidad, cableado estructurado, fibra óptica, conmutadores telefónicos.</li>
                <li class="activity">Instalación y configuración controles de acceso, checadores de tiempo y asistencia, detectores de metal, videoporteros y alarmas.</li>
                <li class="activity">Curso completo para la certificación CCNA.</li>
                <li class="activity">Manejo de sistema ERP ODOO (configuración, mantenimiento, acceso, reportes, creación en python e integración de módulos, etc.).</li>
                <li class="activity">Conocimientos en facturación electrónica y guía de llenado de los comprobantes fiscales y digitales por internet.</li>
                <li class="activity">Curso completo para la certificación AWS Cloud Practitioner CLF-C02.</li>
                <li class="activity">Implementar aplicaciones disponibles a nivel mundial con baja latencia, alta disponibilidad y tolerantes a errores.</li>
                <li class="activity">Manejo todos los servicios fundamentales de AWS: EC2, S3, ELB, ASG, RDS, IAM, ECS, etc.</li>
                <li class="activity">Curso completo para la certificación AWS Certified Developer Associate DVA-C02.</li>
                <li class="activity">Implementación de aplicaciones utilizando Elastic Beanstalk y herramientas AWS CICD con automatización completa.</li>
                <li class="activity">Uso de KMS, SDK de cifrado, políticas IAM y SSM para la protección de cloud de AWS.</li>
                <li class="activity">Implementa patrones de mensajería e integración con AWS SQS, SNS y Kinesis.</li>
                <li class="activity">Monitorizar, rastrear y auditar microservicios con CloudWatch, X-Ray y CloudTrail.</li>
                <li class="activity">Curso completo para la certificación Microsoft Azure Fundamentals.</li>
                <li class="activity">Conocimientos en Infraestructura como servicio (IaaS), Plataforma como servicio (PaaS) y Software como servicio (SaaS).</li>
                <li class="activity">Conocimientos en servicios clave de Azure en relación con la seguridad, la privacidad, el cumplimiento y la confianza.</li>
                <li class="activity">Curso completo para la certificación Microsoft Azure Administrator.</li>
                <li class="activity">Administrar los servicios en la nube que abarcan capacidades de almacenamiento, redes y cómputo en la nube, con un profundo conocimiento de cada servicio.</li>
                <li class="activity">Administrar Azure con las plantillas Resource Manager, Azure Portal, Cloud Shell, Azure PowerShell, CLI y ARM.</li>
                <li class="activity">Administrar el tráfico de red mediante el enrutamiento y endpoints, el balanceador de carga de Azure y Azure Application Gateway.</li>
                <li class="activity">Planificar, crear y escalar máquinas virtuales.</li>
                <li class="activity">Trabajar con copias de seguridad de archivos, carpetas y máquinas virtuales.</li>
                <li class="activity">Administrar suscripciones, cuentas, políticas de Azure y control de acceso basado en roles.</li>
                <li class="activity">Configurar soluciones de conectividad entre sitios como VNet Peering, puertas de enlace de red virtual y conexiones VPN de sitio a sitio.</li>

            </p>
    </article>
