 <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{subtitle2}}</p>
    </div>

<article class="about">
        <h2>Formación</h2>
         <p class="enterprise">
                <li class="activity">Mantenimiento preventivo y correctivo de equipos de cómputo.</li>
                <li class="activity">Manejo de sistemas operativos Windows, Windows server, MacOS, distribuciones de Linux (Ubuntu, CentOS, Debian).</li>
                <li class="activity">Instalación y configuración de CCTV análoga e IP (básica y avanzada).</li>
                <li class="activity">Instalación y configuración de comunicaciones, las redes, protocolos, tecnologías de conmutación LAN y WAN, enrutamiento de redes convergentes, así como todos los aspectos relacionados con la seguridad y resolución de problemas.</li>
                <li class="activity">Diseño y acondicionamiento de centro de datos.</li>
                <li class="activity">Programación web implementando lenguajes y tecnologías web como: HTML, CSS, SASS, Workflows, JavaScript, TypeScript, Jquery, ExpressJS, Fetch, PHP, POO - MVC, MySQL - SQL y API's.</li>
                <li class="activity">Desarrollar aplicaciones web con el MEAN Stack.</li>
                <li class="activity">Desarrollar servicios y APIs RESTful con NodeJS, Express y MongoDB.</li>
                <li class="activity">Desarrollar aplicaciones web SPA con Angular.</li>
                <li class="activity">Crear aplicaciones CRUD con PHP y MySQL.</li>
                <li class="activity">Conocimientos en sistemas de Telefonía IP, comunicaciones unificadas, sistemas de movilidad, cableado estructurado, fibra óptica, conmutadores telefónicos.</li>
                <li class="activity">Instalación y configuración controles de acceso, checadores de tiempo y asistencia, detectores de metal, videoporteros y alarmas.</li>
                <li class="activity">Curso completo para la certificación CCNA.</li>
                <li class="activity">Manejo de sistema ERP ODOO (configuración, mantenimiento, acceso, reportes, creación en python e integración de módulos, etc.).</li>
                <li class="activity">Conocimientos en facturación electrónica y guía de llenado de los comprobantes fiscales y digitales por internet.</li>
                <li class="activity">Curso completo para la certificación AWS Cloud Practitioner CLF-C02.</li>
                <li class="activity">Implementar aplicaciones disponibles a nivel mundial con baja latencia, alta disponibilidad y tolerantes a errores.</li>
                <li class="activity">Manejo todos los servicios fundamentales de AWS: EC2, S3, ELB, ASG, RDS, IAM, ECS, etc.</li>
                <li class="activity">Curso completo para la certificación AWS Certified Developer Associate DVA-C02.</li>
                <li class="activity">Implementación de aplicaciones utilizando Elastic Beanstalk y herramientas AWS CICD con automatización completa.</li>
                <li class="activity">Uso de KMS, SDK de cifrado, políticas IAM y SSM para la protección de cloud de AWS.</li>
                <li class="activity">Implementa patrones de mensajería e integración con AWS SQS, SNS y Kinesis.</li>
                <li class="activity">Monitorizar, rastrear y auditar microservicios con CloudWatch, X-Ray y CloudTrail.</li>
                <li class="activity">Curso completo para la certificación Microsoft Azure Fundamentals.</li>
                <li class="activity">Conocimientos en Infraestructura como servicio (IaaS), Plataforma como servicio (PaaS) y Software como servicio (SaaS).</li>
                <li class="activity">Conocimientos en servicios clave de Azure en relación con la seguridad, la privacidad, el cumplimiento y la confianza.</li>
                <li class="activity">Curso completo para la certificación Microsoft Azure Administrator.</li>
                <li class="activity">Administrar los servicios en la nube que abarcan capacidades de almacenamiento, redes y cómputo en la nube, con un profundo conocimiento de cada servicio.</li>
                <li class="activity">Administrar Azure con las plantillas Resource Manager, Azure Portal, Cloud Shell, Azure PowerShell, CLI y ARM.</li>
                <li class="activity">Administrar el tráfico de red mediante el enrutamiento y endpoints, el balanceador de carga de Azure y Azure Application Gateway.</li>
                <li class="activity">Planificar, crear y escalar máquinas virtuales.</li>
                <li class="activity">Trabajar con copias de seguridad de archivos, carpetas y máquinas virtuales.</li>
                <li class="activity">Administrar suscripciones, cuentas, políticas de Azure y control de acceso basado en roles.</li>
                <li class="activity">Configurar soluciones de conectividad entre sitios como VNet Peering, puertas de enlace de red virtual y conexiones VPN de sitio a sitio.</li>
                <li class="activity">Implementar, administrar y asegurar cuentas de almacenamiento de Azure, almacenamiento de blobs y archivos de Azure con File Sync.</li>
                <li class="activity">Administrar Azure App Service, Azure Container Instances y Kubernetes.</li>
                <li class="activity">Supervisar la infraestructura de Azure con Azure Monitor, alertas de Azure y Log Analytics.</li>
                <li class="activity">Curso completo para la certificación AWS Solutions Architect Associate SAA-C03.</li>
                <li class="activity">Curso completo para la certificación de Check Point CCSA.</li>
                <li class="activity">Certificación Hikvision Certified Security Associate.</li>
                <li class="activity">Certificación cnMatrix Administrator Certification.</li>
                <li class="activity">Certificación Cambium Networks ePMP Certified Administrator.</li>
                <li class="activity">Certificación cnPilot: Wi-Fi Access Installation and Administration</li>
                <li class="activity">Certificación Oficial de Sistemas de Intrusión Hikvision HCSA.</li>
                <li class="activity">Certificación en Energía Solar para Sistemas Isla e Interconexión.</li>
                <li class="activity">Certificación Oficial de Control de Acceso Hikvision HCSA</li>
                <li class="activity">Curso Configuración y Aprovisionamiento GPON Huawei.</li>
                <li class="activity">Certificación Técnica en Diseño e Implementación de Redes FTTX.</li>
                <li class="activity">Curso de Solución GPON de TP-Link: Diseño y administración de una red GPON.</li>
                <li class="activity">Certificación en Tierras Físicas y Pararrayos Total Ground.</li>
                <li class="activity">Certificación en Sistemas de protección para Instalaciones Fotovoltaicas.</li>
                <li class="activity">Certificación Oficial Altai en Soluciones de Super Cobertura WiFi.</li>
                <li class="activity">Certificación Oficial Ubiquiti Broadband Wireless Specialist y Ubiquiti Broadband Wireless Admin.</li>
                <li class="activity">Certificación Oficial de Ubiquiti Enterprise Wireless Admin UEWA.</li>
                <li class="activity">Certificación Oficial Linkedpro.</li>
                <li class="activity">Certificación de GPS, Telemática y IoT.</li>
                <li class="activity">Curso completo para la certificación Red Hat Certified System Administrator.</li>
                <li class="activity">Manejo de los módulos de finanzas, inventario, ventas, compras, producción, socios de negocio y gestion de bancos en SAP B1.</li>
                <li class="activity">Experiencia en el uso de Crystal Report.</li>
                <li class="activity">Uso de Bases de datos como Hanna y SQL (para SAP).</li>
                <li class="activity">Experiencia en el uso de Crystal Report.</li>
                <li class="activity">Conocimiento alto de los módulos de Odoo: contabilidad, facturación, inventarios, fabricación, proyectos, CRM, ventas, gastos, proveedores y recursos humanos.</li>
            </p>
    </article>
