
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{subtitle2}}</p>
    </div>

    <div class="profile-picture">
        <img src="assets/img/profile.jpg" alt="Foto de perfil" class="profile-img">
    </div>

    <div class="social-links">
        <a href="https://www.linkedin.com/in/manuel-beristain-palacios-29753b34/" target="_blank">
        <img src="assets/img/link.png" alt="LinkedIn Logo" width="40">
        </a>
    
        <a href="https://github.com/ManuelBeristain" target="_blank">
        <img src="assets/img/git.png" alt="GitHub Logo" width="40">
        </a>

        <a href="https://wa.me/522381317074" target="_blank">
        <img src="assets/img/whats.png" alt="WhatsApp Logo" width="40">
        </a>
    </div>

    <article class="about">
        <h2>Perfil</h2>
        <p>Ingeniero en sistemas computacionales con 13 años de experiencia,
            muy comprometido, con sentido de pertenencia, creativo y con
            actitud positiva frente a las circunstancias adversas, me gusta el
            trabajo en equipo con la orientación en el logro de objetivos y metas.</p>
    </article>

    <article class="experience">
        <h2>Experiencia Profesional</h2>

        <h4>Auxiliar en el Departamento de Sistemas</h4>
            <p class="enterprise"><em>Heroico Cuerpo de Bomberos y Protección Civil, Tehuacán, Puebla | 2006 - 2007</em>
                <li class="activity">Mantenimiento preventivo y correctivo de computadoras.</li>
            </p>

        <h4>Auxiliar en el Departamento de Sistemas</h4>
            <p class="enterprise"><em>Honorable Ayuntamiento, Zapotitlán Salinas, Puebla | 2011 - 2012</em>
                <li class="activity">Mantenimiento preventivo y correctivo de computadoras, configuración de la red LAN y WI-FI,configuración de dispositivos compartidos en la red.</li>
            </p>

        <h4>Auxiliar en el Departamento de Fibra Optica y de Mantenimiento de CTC</h4>
            <p class="enterprise"><em>Megacable Comunicaciones, Puebla, Puebla | 2012 - 2013</em>
                
                <li class="activity">Instalar y configurar los diferentes componentes y subsistemas necesarios para que el cliente reciba los servicios contratados: amplificadores, terminales de comunicación, centralitas-PABX, concentradores, módems, moduladores, etc.</li>
                <li class="activity">Realiza el test de la instalación y puesta a punto de los componentes (conectores, amplificadores) y de los equipos de comunicaciones a fin de garantizar la calidad y fiabilidad requeridas.</li>
                <li class="activity">Mantenimiento preventivo y correctivo de computadoras, configuración de la red LAN y WI-FI,configuración de dispositivos compartidos en la red.</li>
                <li class="activity">Comprobar que la atenuación a través de las soldaduras de la fibra óptica esté dentro de los valores especificados, utilizando el instrumental adecuado.</li>
                <li class="activity">Ejecuta los planes de mantenimiento correctivo.</li>
                <li class="activity">Soporte técnico remoto y en sitio de 1er y 2do nivel, levantamiento de tickets.</li>
                <li class="activity">Lectura e interpretación de planos.</li>
                <li class="activity">Instalación de charola o escalerilla, tubería para pared gruesa y delgada, así como PVC.</li>
                <li class="activity">Tendido e instalación de cableado estructurado de acuerdo con estándares ANSI/TIA/EIA; rematado de cables, uso de herramientas de ponchado, ductería y uso de herramientas básicas (martillo, taladro, esmeril, desarmador, etc.)</li>
                <li class="activity">Trabajo en las alturas para colocación de cableado y equipos.</li>
                <li class="activity">Manejo de inventarios, control, resguardo, preparación, acondicionamiento de equipos para entrega con cliente.</li>
                <li class="activity">Instalación y armado de Rack, Gabinetes</li>
            </p>

        <h4>Jefe del Departamento de Sistemas</h4>
            <p class="enterprise"><em>Softsol Soluciones Informáticas, Tehuacán, Puebla | 2013 - 2016</em>
                <li class="activity">Planear, dirigir y controlar las funciones que correspondan al área de sistemas tanto interno como externo.</li>
                <li class="activity">Administrar el uso adecuado de Software.</li>
                <li class="activity">Actualizar la página de la empresa y las cuentas de correo institucionales.</li>
                <li class="activity">Administrar el Servidor y las terminales.</li>
                <li class="activity">Proponer políticas de uso de equipos de cómputo y cuentas de correo.</li>
                <li class="activity">Dar solución a las solicitudes de atención de los diferentes áreas y clientes de la cartera.</li>
                <li class="activity">Supervisar el correcto funcionamiento de la red.</li>
                <li class="activity">Capacitar al personal para el uso de las cuentas de sistema ERP, CRM y correo institucional.</li>
                <li class="activity">Difundir las buenas prácticas en el uso de los equipos de cómputo.</li>
                <li class="activity">Administrar los recursos humanos y materiales del área a su cargo.</li>
                <li class="activity">Implementación de software y/o hardware para las diferentes áreas de la empresa.</li>
                <li class="activity">Participar en el proceso de compras de servidores, equipos de red, pc's, impresoras, ups, software y contratación de servicios informáticos.</li>
                <li class="activity">Elaborar planes y programas de las áreas de sistemas.</li>
                <li class="activity">Desarrollo de aplicaciones mediáticas o de enlaces con otras interfaces.</li>
            </p>

        <h4>Jefe del Area de Ingenieria y Desarrollo</h4>
            <p class="enterprise"><em>Tecnosystems ETR, Tehuacán, Puebla | 2016 - 2024</em>
                <li class="activity">Gestionar un equipo de personal que incluye programadores, analistas y especialistas en soporte.</li>
                <li class="activity">Desarrollar productos, administrar bases de datos y dar soporte de aplicaciones.</li>
                <li class="activity">Administrar las políticas y la documentación de los sistemas de información, incluidas las estrategias de respaldo, los materiales de capacitación del usuario, los mapas de red y las políticas de seguridad.</li>
                <li class="activity">Probar y modificar sistemas para garantizar que funcionan de manera confiable.</li>
                <li class="activity">Administrar presupuestos de TI.</li>
                <li class="activity">Implementar y administrar procedimientos de seguridad y respaldo.</li>
                <li class="activity">Consultar a los usuarios para determinar las necesidades y asegurarse de que las instalaciones cumplan con los requisitos del usuario o del proyecto.</li>
                <li class="activity">Proporcionar formación, apoyo y asesoramiento a los usuarios y clientes.</li>
                <li class="activity">Mantenerse al día con las nuevas tecnologías.</li>
            </p>
        <h4>Jefe del Departamento de Sistemas</h4>
            <p class="enterprise"><em>Rancho Acuícola Elixir, Tepanco de López, Puebla | 2024 - Actual</em>
                <li class="activity">Desarrollar e implementar estrategias de gestión de cambios para garantizar que los programas de transformación digital de la empresa generen valor en el menor tiempo posible.</li>
                <li class="activity">Colaborar con los equipos de proyecto y la alta gerencia para identificar necesidades y priorizar solicitudes de cambio, además de evaluar cuál será el impacto de las modificaciones propuestas y hacerse cargo de la gestión de estos cambios.</li>
                <li class="activity">Capacitar al equipo de tecnologías de la información y educar a los CIO y líderes comerciales sobre los enfoques de gestión de cambio y los impactos para la organización.</li>
                <li class="activity">Mantener un registro en actualización constante con las tendencias y las mejores prácticas de la industria para implementar las más adecuadas a los procesos de la empresa.</li>
                <li class="activity">Trabajar con el equipo de TI para analizar y resolver problemas de aplicaciones y redes.</li>
                <li class="activity">Depurar y analizar registros para identificar la causa raíz de defectos o discrepancias.</li>
                <li class="activity">Mejorar la estabilidad de aplicaciones identificando patrones o alertas recurrentes, así como revisar el procesamiento de aplicaciones existentes y sugerir nuevas formas de resolver problemas.</li>
                <li class="activity">Formar, capacitar y dirigir un equipo de ingeniería de soporte técnico para ayudar a los usuarios a resolver sus problemas.</li>
                <li class="activity">Elaborar planes de manejo de crisis y gestionar eventos de este tipo para garantizar la continuidad del negocio.</li>
                <li class="activity">Supervisar la implementación de nuevos proyectos e iniciativas de infraestructura TI y garantizar su éxito.</li>
                <li class="activity">Revisar y priorizar los casos que escalen en ingeniería de soporte, y dar una respuesta oportuna a los usuarios cuando se den interrupciones en el servicio.</li>
                <li class="activity">Hacer reuniones periódicas con los miembros del equipo para dar retroalimentación constructiva, comunicar las novedades en el departamento y asignar tareas.</li>
                <li class="activity">Apoyar al departamento de recursos humanos en las últimas etapas del proceso de reclutamiento para contratar a las personas más adecuadas a las necesidades del departamento de TI.</li>
                <li class="activity">Servir de enlace con otros departamentos en la empresa, como ventas, servicio al cliente o ingeniería de proyecto, para abordar asuntos que involucren infraestructura informática, software y aplicaciones.</li>
            </p>
    </article>

