/* Importar fuentes custom*/
@font-face {
    font-family: 'yanone';
    src: url(fonts/yanone.ttf);
}

@font-face {
    font-family: 'finger';
    src: url(fonts/finger.ttf);
}

/* Estilos generales*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'yanone', Arial, Helvetica;
    font-size: 20px;
    background: url('../img/pattern.png');
    background-attachment: fixed;
}

/* Limpiar los flotados entre los diferentes elementos*/
.clearfix {
    float: none;
    clear: both;
}

/* Barrra de navegacion / Header*/
header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul {
    display: block;
    width: 45%;
    height: inherit;
    margin: 0px auto;
    margin-top: -3px;
}

header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover,
.actived {
    background: rgba(0, 0, 0, 0.8);
}

/* Logotipo*/
#logo {
    font-family: 'century';
    font-size: 30px;
}

#logo a {
    transition: color 500ms, transform 500ms;
}

#logo a:hover {
    background: transparent;
    color: black;
    transform: scale(1.50, 1.50);
}

/* Contenedor principal*/
#content {
    min-height: 500px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

/*Pie de pagina*/
footer {
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/*Pie de pagina*/
#title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1 {
    font-family: 'calibri';
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2 {
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

article.experience {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.portfolio {
    margin-bottom: 20px;
    font-size: 23px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.portfolio h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.experience h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}



.experience h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.experience p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}

 p.enterprise{
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    text-indent: 15px;
 }

 li.activity{
    padding-top: 1px;
    margin-bottom: 1px;
    text-align: justify;
    margin-left: 20px;
 }

.activity {
  text-indent: -1.5em;       /* Mueve la viñeta hacia la izquierda */
  padding-left: 1.5em;       /* Mueve el texto a la derecha, alineándolo con el texto superior */
}

/* Estilos para el contenedor de la cuadrícula */
.image-grid {
    display: grid;
    /* Define 3 columnas de igual tamaño, espaciadas por 20px */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* Espacio entre las celdas de la cuadrícula */
    margin-top: 30px;
   
}

/* Estilos para cada elemento de la cuadrícula */
.grid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga de los bordes redondeados */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Añade una transición para el efecto hover */
}

/* Efecto al pasar el ratón sobre un elemento */
.grid-item:hover {
    transform: translateY(-5px); /* Se mueve ligeramente hacia arriba */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para la imagen */
.grid-item img {
    width: 100%; /* La imagen ocupará todo el ancho de su contenedor */
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    display: block;
}

/* Estilos para el texto */
.grid-item p {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}


/*Seccion formulario*/

.container {
    padding: 50px;
    padding-top: 10px;

}

.container h2 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form {
    width: 50%;
}

form label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type='text'],
form input[type='number'],
form input[type='email'],
form textarea {
    width: 40%;
    padding: 5px;
}

form button,
form input[type='submit'] {
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}

form button:hover,
form input[type='submit']:hover {
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}

/* ESTILOS SOCIAL MEDIA */
.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links img {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.1);
}

/* Foto de perfil */
.profile-picture {
    text-align: center; /* Centra la imagen dentro del div */
    margin-bottom: 20px; /* Espacio debajo de la foto */
}

.profile-img {
    width: 200px; /* Tamaño de la imagen, ajusta según necesites */
    height: 200px; /* Mismo ancho y alto para hacerla redonda */
    border-radius: 50%; /* Hace que la imagen sea completamente redonda */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border: 3px solid #007bff; /* Un borde sutil*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
}

/* ------------------------- */
/* ESTILOS RESPONSIVE MOBILE */
/* ------------------------- */
@media (max-width: 1024px) {
    #content,
    footer {
        width: 90%;
    }

    header ul {
        width: 90%;
    }

    form {
        width: 100%;
    }

    form input[type='text'],
    form input[type='number'],
    form input[type='email'],
    form textarea {
        width: 90%;
    }

    .container {
        padding: 20px;
    }

    #title h1 {
        font-size: 40px;
    }

    #title h2 {
        font-size: 18px;
    }

    article.about {
        width: 90%;
        font-size: 18px;
    }

    article.experience {
        width: 90%;
        font-size: 18px;
    }

    article.portfolio {
        width: 90%;
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 10px;
    }

    header ul li {
        line-height: 40px;
        margin: 5px 0;
    }

    #logo {
         font-size: 24px;
        margin-top: 10px;
        line-height: 1.2;
    }

    #content {
        padding-top: 160px;
    }

    .container {
        padding: 10px;
        padding-top: 120px;
    }

    #title h1 {
        font-size: 30px;
    }

    #title {
    width: 70%;
    margin: 120px auto 70px auto; /* ⬅️ este 120px empuja el bloque hacia abajo */
    text-align: center;
    }

    .portfolio {
    width: 70%;
    margin: 120px auto 20px auto; /* ⬅️ este 120px empuja el bloque hacia abajo */
    text-align: left;
    padding-bottom: 30px;
    }    


    #title h2 {
        font-size: 25px;
    }

    form input[type='submit'],
    form button {
        width: 100%;
    }


}