<article class="portfolio">
    <h2>Portafolio de Sitios Web</h2>
    
    <div class="image-grid">
        <div class="grid-item">
            <a href="https://manuelberistain.github.io/tecnosystems/" target="_blank">
                <img src="assets/img/tecno.png" alt="">
            </a>
            <p>TECNOSYSTEMS ETR</p>
        </div>
        
        <div class="grid-item">
            <a href="https://manuelberistain.github.io/secapruh/" target="_blank">
                <img src="assets/img/seca.jpg" alt="">
            </a>
            <p>SECAPRUH</p>
        </div>
        
        <div class="grid-item">
            <a href="https://manuelberistain.github.io/house/" target="_blank">
                <img src="assets/img/house.jpg" alt="">
            </a>
            <p>HOUSECONNECTOR</p>
        </div>

        <div class="grid-item">
            <a href="https://manuelberistain.github.io/cerveceria/" target="_blank">
                <img src="assets/img/cerve.jpg" alt="">
            </a>
            <p>CERVECERIA TEHUACAN</p>
        </div>

        </div>
</article>
